opencv-python
einops
torch==2.1.2
torchvision==0.16.2
matplotlib
onnxruntime
tqdm
omegaconf
pytorch_lightning==1.5.10
pandas
scipy
scikit-image
diffusers==0.24.0
taming-transformers
huggingface_hub==0.19.4
clip
transformers==4.36.2
kornia==0.7.0
